[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.16.1"
keras-tuner = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scikeras = "*"
seaborn = "*"
gradio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
